body{
  width:1200px;
  font-size: 0;
}
div{
  position: relative;
}
/*
Add your CSS to the ID selectors below
*/
#statue{
  position: relative;
  top: 0px;
  left:-55px;
}

#ball{
  position: relative;
  top: -124px;
  left:22px;
  z-index: 1;
}

#turnip{
  position: relative;
  top: 267px;
  left:242px;
  z-index: 1;
}

#farm{
  position: relative;
  top: -144px;
  left:-55px; 
  z-index: -1;
}

#grass{
  position: relative;
  top: 267px;
  left:293px;
  z-index: 1;
}

#tetris{
  position: relative;
  top: -543px;
  z-index: -1;
}

#L{
  position: relative;
  top: 1356px;
  left:100px;
  z-index: 1;
}

#T{
  position: relative;
  top: 1555px;
  left:200px;
  z-index: 1;
}

#I{
  position: relative;
  top: 1557px;
  left:499px;
  z-index: 1;
}